<app-navbar></app-navbar>

  <h2 appTextHighlight>Future Tech Data - Angular Course </h2 >
   

    <!-- <h3> 40 dollar ={{40 | usdInr:83 | currency:'INR' }}</h3> -->

  <div class="input-group mb-5">
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearchInput()" placeholder= "Search...">
    <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> -->
  </div>
 
   <table class="table">
    <thead>

      
      <th>Id</th>
      <th>Name</th>
      <th>Content</th>
      <th>Salary</th>
      <th>Action</th>
      
    </thead>
    <tbody>
      <tr *ngFor="let suggestion of suggestions" class="table-active">
        <td>{{suggestion.id}}</td>
        <td>{{suggestion.name}}</td>
        <td>{{suggestion.content}}</td>
        <td>{{suggestion.salary | currency:'INR'}}</td>
        <td><button class="btn btn-outline-info" routerLink="/course/{{suggestion.id}}">View</button>
         </td>
       
      
      </tr>
    </tbody>
  </table>
 